# Created by .ignore support plugin (hsz.mobi)
*.iml
*.log
.idea/
target
.classpath
.settings
.project
/.gitignore
/baws-core/baws-core.iml
/baws-interface/baws-interface.iml
/baws-soa/baws-soa.iml
/baws-web/baws-web.iml
/baws.iml
